@model ExpressSupport.DAL.Entities.CategorySoftware

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Está seguro que desea eliminar ésta categoría?</h3>
<div>
    
    <partial name="../Shared/PartialViews/_CategorySoftwareDetailsDelete" />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
